@media only screen and (max-width:1200px){
    #seccionTituloDiscos{
        padding-top: 35px;
        padding-bottom: 35px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,85px,3px 3px 3px $color1);
            padding-bottom: 6px;
        }
    }
    #seccionDiscos{
        padding-bottom: 40px;
        table{
            width: 850px;
            .columna{
                height: 180px;
                font-size: 18px;
                .canciones{
                    width: 380px;
                    text-align: justify;
                }
            }
            .columna1{
                height: 80px;
                font-size: 22px;
            }
        }
    }
}
@media only screen and (max-width:900px){
    #seccionTituloDiscos{
        #tituloDiscos{
            @include size($titlefont,$color2,bold,80px,3px 3px 3px $color1);
            padding-bottom: 4px;
        }
    }
    #seccionDiscos{
        padding-bottom: 30px;
        table{
            width: 720px;
            .columna{
                .canciones{
                    width: 306px;
                    ul{
                    }
                }
            }
            .columna1{
                height:75px;
            }
            .columnas2{
                height: 140px;
            }
            .columna3{
                height: 140px;  
            }
        }
    }
}
@media only screen and (max-width:767px){
    #seccionTituloDiscos{
        padding-top: 30px;
        padding-bottom: 30px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,70px,3px 3px 3px $color1);
        }
    }
    #seccionDiscos{
        padding-bottom: 25px;
        table{
            width: 580px;
            .columna{
                .canciones{
                    width: 250px;
                }
            }
            .columna1{
                height: 75px;
            }
            .columnas2{
                height: 120px;
            }
            .columna3{
                height: 120px;  
            }
        }
    }
}
@media only screen and (max-width:600px){
    #seccionTituloDiscos{
        padding-top: 25px;
        padding-bottom: 25px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,55px,3px 3px 3px $color1);
        }
    }
    #seccionDiscos{
        padding-bottom: 20px;
        table{
            width: 460px;
            .columna{
                .canciones{
                    width: 200px;
                    ul{
                        li{
                            padding-top: 7px;
                        }
                    }
                }
            }
            .columna1{
                height: 60px;
                font-size: 18px;
            }
            .columnas2{
                height: 90px;
                font-size: 15px;
            }
            .columna3{
                height: 90px;  
                font-size: 15px;
            }
        }
    }
}
@media only screen and (max-width:480px){
    #seccionTituloDiscos{
        padding-top: 20px;
        padding-bottom: 20px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,50px,3px 3px 3px $color1);
        }
    }
    #seccionDiscos{
        padding-bottom: 20px;
        table{
            width: 380px;
            .columna{
                .canciones{
                    width: 155px;
                    ul{
                        li{
                            padding-top: 5px;
                        }
                    }
                }
            }
            .columna1{
                height: 50px;
                font-size: 16px;
            }
            .columnas2{
                height: 80px;
                font-size: 14px;
            }
            .columna3{
                height: 80px;  
                font-size: 14px;
            }
        }
    }
}
@media only screen and (max-width:390px){
    #seccionTituloDiscos{
        padding-top: 20px;
        padding-bottom: 20px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,42px,3px 3px 3px $color1);
        }
    }
    #seccionDiscos{
        padding-bottom: 20px;
        table{
            width: 315px;
            .columna{
                .canciones{
                    width: 140px;
                    ul{
                        li{
                            padding-top: 5px;
                        }
                    }
                }
            }
            .columna1{
                height: 50px;
                font-size: 14px;
            }
            .columnas2{
                font-size: 12px;
            }
            .columna3{
                font-size: 12px;
            }
        }
    }
}