@media only screen and (max-width:1200px){
    #seccionTituloDiscos{
        padding-top: 35px;
        padding-bottom: 35px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,50px,3px 3px 3px $color1);
            padding-bottom: 6px;
        }
    }
    #seccionDiscos{
        padding-bottom: 40px;
        table{
            width: 850px;
            .columna{
                &:hover{
                    height: 200px;
                    font-size: 18px;
                }
                .canciones{
                    width: 350px;
                    ul{
                        width: 180px;
                        margin-left: 90px;
                    }
                }
            }
            .columna1{
                height: 80px;
                font-size: 20px;
            }
            .columnas2{
                height: 160px;
                font-size: 16px;
            }
            .columna3{
                height: 160px;  
                font-size: 16px;
            }
        }
    }
}
@media only screen and (max-width:900px){
    #seccionTituloDiscos{
        #tituloDiscos{
            @include size($titlefont,$color2,bold,45px,3px 3px 3px $color1);
            padding-bottom: 4px;
        }
    }
    #seccionDiscos{
        padding-bottom: 30px;
        table{
            width: 720px;
            .columna{
                &:hover{
                    height: 180px;
                    font-size: 16px;
                }
                .canciones{
                    width: 320px;
                    ul{
                        width: 170px;
                        margin-left: 90px;
                    }
                }
            }
            .columna1{
                height: 70px;
                font-size: 18px;
            }
            .columnas2{
                height: 140px;
                font-size: 14.5px;
            }
            .columna3{
                height: 140px;  
                font-size: 15.5px;
            }
        }
    }
}
@media only screen and (max-width:767px){
    #seccionTituloDiscos{
        padding-top: 30px;
        padding-bottom: 30px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,40px,3px 3px 3px $color1);
        }
    }
    #seccionDiscos{
        padding-bottom: 25px;
        table{
            width: 580px;
            .columna{
                &:hover{
                    height: 140px;
                    font-size: 14.5px;
                }
                .canciones{
                    width: 250px;
                    ul{
                        width: 147px;
                        margin-left: 60px;
                    }
                }
            }
            .columna1{
                height: 60px;
                font-size: 16px;
            }
            .columnas2{
                height: 120px;
                font-size: 12.5px;
            }
            .columna3{
                height: 120px;  
                font-size: 12.5px;
            }
        }
    }
}
@media only screen and (max-width:600px){
    #seccionTituloDiscos{
        padding-top: 25px;
        padding-bottom: 25px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,33px,3px 3px 3px $color1);
        }
    }
    #seccionDiscos{
        padding-bottom: 20px;
        table{
            width: 460px;
            .columna{
                &:hover{
                    height: 120px;
                    font-size: 12.5px;
                }
                .canciones{
                    width: 200px;
                    ul{
                        padding-top: 10px;
                        width: 130px;
                        margin-left: 40px;
                        li{
                            padding-top: 7px;
                        }
                    }
                }
            }
            .columna1{
                height: 50px;
                font-size: 12.5px;
            }
            .columnas2{
                height: 90px;
                font-size: 10.5px;
            }
            .columna3{
                height: 90px;  
                font-size: 10.5px;
            }
        }
    }
}
@media only screen and (max-width:480px){
    #seccionTituloDiscos{
        padding-top: 20px;
        padding-bottom: 20px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,27.5px,3px 3px 3px $color1);
        }
    }
    #seccionDiscos{
        padding-bottom: 20px;
        table{
            width: 380px;
            .columna{
                &:hover{
                    height: 100px;
                    font-size: 10.5px;
                }
                .canciones{
                    width: 155px;
                    ul{
                        padding-top: 10px;
                        width: 120px;
                        margin-left:32px;
                        li{
                            padding-top: 5px;
                        }
                    }
                }
            }
            .columna1{
                height: 40px;
                font-size: 10.5px;
            }
            .columnas2{
                height: 80px;
                font-size: 8.5px;
            }
            .columna3{
                height: 80px;  
                font-size: 8.5px;
            }
        }
    }
}
@media only screen and (max-width:390px){
    #seccionTituloDiscos{
        padding-top: 20px;
        padding-bottom: 20px;
        #tituloDiscos{
            @include size($titlefont,$color2,bold,21.5px,3px 3px 3px $color1);
        }
    }
    #seccionDiscos{
        padding-bottom: 20px;
        table{
            width: 300px;
            .columna{
                &:hover{
                    height: 80px;
                    font-size: 8.5px;
                }
                .canciones{
                    width: 120px;
                    ul{
                        padding-top: 10px;
                        width: 80px;
                        margin-left:25px;
                        li{
                            padding-top: 5px;
                        }
                    }
                }
            }
            .columna1{
                height: 30px;
                font-size: 8.5px;
            }
            .columnas2{
                height: 50px;
                font-size: 6.5px;
            }
            .columna3{
                height: 50px;  
                font-size: 6.5px;
            }
        }
    }
}