@media only screen and (max-width:1500px){
    .seccionIndex{
        .titulosSeccionIndex{
            text-align: center;
        }   
    }
    #seccion__quienessomos{
        height: 1000px;
        gap: 25px;
        padding-top: 50px;
        flex-direction: column;
        #containerTextoBoton{
            #seccion__quienessomos--texto{
                width: 1000px;
            }
        }
        #seccion__quienessomos--imagen{
            height: auto;
            width: 1000px;
        }
    }
    #seccion__estilos{
        gap: 25px;
        height: 900px;
        padding-top: 85px;
        flex-direction: column;
        #seccion__estilos--texto{
            width: 1000px;
            .seccion__estilos--titulo{
                margin-top: 0;
                text-align: center;
            }
        }
        #seccion__estilos--imagen{
            height:auto;
            width: 1000px;
        }
    }
    #seccionUbicacion{
        height: 750px;
        padding-top: 50px;
        .textoUbicacion{
            width: 1000px;
        }
        #mapa{
            width: 1000px;
        }
    }
}
@media only screen and (max-width:1200px){
    .seccionTitulo{
        height: 400px;
        padding-top: 60px;
        .containerTitulo{
            h1{
                font-size: 160px;
            }
            .textoIndex{
                font-size: 37px;
            }
        }
        #containerFlecha{
            #flecha{
                display: none;
            }
        }
    }
    .seccionIndex{
        font-size: 18px;
        line-height: 60px;
        .titulosSeccionIndex{
            font-size: 30px;
        }
    }
    #seccion__quienessomos{
        flex-direction: column;
        gap: 20px;
        height: 875px;
        margin: 0;
        padding-top: 0px;
        #containerTextoBoton{
            gap:0px;
            #seccion__quienessomos--texto{
                width: 845px;
            }
            #masInfo{
                span{
                    font-size: 20px;
                }
            }
        }
        #seccion__quienessomos--imagen{
            width: 845px;
            height: auto;
        }
    }
    #seccion__estilos{
        height: 800px;
        padding-top: 0px;
        flex-direction: column;
        gap: 20px;
        #seccion__estilos--imagen{
            width: 845px;
            height: auto;
        }
        #seccion__estilos--texto{
            width:845px;
        }
    }
    #seccionUbicacion{
        height: 650px;
        padding-top: 0;
        display: flex;
        gap: 15px;
        #mapa{
            width: 845px;
        }
        .textoUbicacion{
            margin: 0 auto;
            width: 845px;
            text-align: center;
        }
    }
}
@media only screen and (max-width:900px){
    .gradient{
        padding-bottom: 10px;
    }
    .seccionIndex{
        gap: 20px;
    }
    .seccionTitulo{
        .containerTitulo{
            h1{
                font-size: 150px;
            }
            .textoIndex{
                font-size: 35px;
            }
        }
    }
    #seccion__quienessomos{
        flex-direction: column;
        height: 775px;
        #containerTextoBoton{
            gap:0px;
            #seccion__quienessomos--texto{
                width: 700px;
            }
        }
        #seccion__quienessomos--imagen{
            width: 700px;
        }
    }
    #seccion__estilos{
        padding-top: 0;
        flex-direction: column;
        height: 775px;
        #seccion__estilos--imagen{
            width: 700px;
        }
        #seccion__estilos--texto{
            width: 700px;
            .seccion__estilos--titulo{
                text-align: center;
            }
        }
    }
    #seccionUbicacion{
        height:660px;
        #mapa{
            width: 700px;
        }
        .textoUbicacion{
            width: 700px;
        }
    }
}
@media only screen and (max-width:768px){
    .seccionTitulo{
        height: 400px;
        .containerTitulo{
            h1{
                font-size: 130px;   
            }
            .textoIndex{
                font-size: 30px;
            }
        }
    }
    .seccionIndex{
        font-size: 17px;
        line-height: 55px;
        .titulosSeccionIndex{
            font-size: 28px;
        }
    }
    #seccion__quienessomos{
        flex-direction: column;
        gap: 20px;
        height: 725px;
    #containerTextoBoton{
        #masInfo{
            line-height: 0;
            span{
                font-size: 19px;
            }
        }
            #seccion__quienessomos--texto{
                width: 560px;
            }
        }
        #seccion__quienessomos--imagen{
            width: 560px;
        }
    }
    #seccion__estilos{
        flex-direction: column;
        gap: 0px;
        height: 700px;
        #seccion__estilos--imagen{
            width: 560px;
        }
        #seccion__estilos--texto{
            width: 560px;
        }
    }
    #seccionUbicacion{
        height: 640px;
        #mapa{
            width: 560px;
        }
        .textoUbicacion{
            width: 560px;
        }
    }
}
@media only screen and (max-width:600px){
    .gradient{
        padding-bottom: 0;
    }
    .seccionIndex{
        font-size: 16px;   
        gap: 0px;
        .titulosSeccionIndex{
            font-size: 25px;
        }
    }
    .seccionTitulo{
        padding-top: 90px;
        .containerTitulo{
            h1{
                font-size: 110px;
            }
            .textoIndex{
                font-size: 25.5px;
            }
        }
    }
    #seccion__quienessomos{
        gap: 20px;
        height: 700px;
        #containerTextoBoton{
            #masInfo{
                span{
                    font-size: 18px;
                }
            }
            #seccion__quienessomos--texto{
                width: 450px;
            }
        }
        #seccion__quienessomos--imagen{
            width: 450px;
        }
    }
    #seccion__estilos{
        flex-direction: column;
        gap: 20px;
        height: 700px;
        #seccion__estilos--imagen{
            width: 450px;
        }
        #seccion__estilos--texto{
            width: 450px;
        }
    }
    #seccionUbicacion{
        height: 700px;
        padding-bottom: 0px;
        #mapa{
            width: 450px;
        }
        .textoUbicacion{
            width: 450px;
            text-align: justify;
        }
    }
}
@media only screen and (max-width:480px){
    .gradient{
        padding-bottom: 20px;
    }
    .seccionTitulo{
        height: 400px;
        .containerTitulo{
            h1{
                font-size: 85px;
            }
            .textoIndex{
                font-size: 19.5px;
            }
        }
    }
    #seccion__quienessomos{
        height: 700px;
        #containerTextoBoton{
            #seccion__quienessomos--texto{
                width: 350px;
            }
        }
        #seccion__quienessomos--imagen{
            width: 370px;
        }
    }
    #seccion__estilos{
        height: 750px;
        #seccion__estilos--texto{
            width: 370px;
        }
        #seccion__estilos--imagen{
            width: 370px;
        }
    }
    #seccionUbicacion{
        height: 700px;
        #mapa{
            width: 360px;
            height: 360px;
            }
        .textoUbicacion{
            width: 340px;
        }
    }
}
@media only screen and (max-width:390px){
    .seccionTitulo{
        height: 400px;
        padding-top: 80px;
        .containerTitulo{
            h1{
                font-size: 77px;
            }
            .textoIndex{
                font-size: 17.5px;
            }
        }
    }
    #seccion__quienessomos{
        flex-direction: column;
        height: 675px;
        #containerTextoBoton{
            #masInfo{
                span{
                    padding: 13px;
                }
            }
            #seccion__quienessomos--texto{
                width: 305px;
            }
        }
        #seccion__quienessomos--imagen{
            width: 305px;
        }
    }
    #seccion__estilos{
        height: 750px;
        #seccion__estilos--imagen{
            width: 305px;
        }
        #seccion__estilos--texto{
            width: 305px;
        }
    }
    #seccionUbicacion{
        height:715px;
        #mapa{
            width: 305px;
        }
        .textoUbicacion{
            width: 305px;
            height: 305px;
        }
    }
}
