@media only screen and (max-width:1439px){
    .seccionIntegrantes{
        gap: 120px;
        font-size: 20px;
        .titulosSeccionIntegrantes{
            font-size: 32px;
        }
    }
    .seccionMarceloCorvalan{
        #marceloCorvalanTexto{
            width: 550px;
        }
        #marceloCorvalanFoto{
            width: 430px;
        }
    }
    .seccionAndresVillanova{
        #andresVillanovaTexto{
            width: 550px;
        }
        #andresVillanovaFoto{
            width: 430px;
        }

    }
    .seccionHernanLanger{
        #hernanLangerFoto{
            width: 430px;
        }
        #hernanLangerTexto{
            width: 550px;
        }
    }
}
@media only screen and (max-width:1200px){
    #seccionTituloIntegrantes{
        padding-bottom: 0px;
        #tituloIntegrantes{
            font-size: 85px;
        }
    }
    .seccionIntegrantes{
        gap: 70px;
        font-size: 18px;
        line-height: 60px;
        height: 550px;
        .titulosSeccionIntegrantes{
            font-size: 30px;
        }
    }
    .seccionMarceloCorvalan{
        #marceloCorvalanTexto{
            width: 415px;
        }
        #marceloCorvalanFoto{
            width: 400px;
        }
    }
    .seccionAndresVillanova{
        #andresVillanovaTexto{
            width: 415px;   
        }
        #andresVillanovaFoto{
            width: 400px;
        }

    }
    .seccionHernanLanger{
        padding-bottom: 30px;
        #hernanLangerTexto{
            width: 415px;
        }
        #hernanLangerFoto{
            width: 400px;
        }
    }
}
@media only screen and (max-width:1000px){
    #seccionTituloIntegrantes{
        #tituloIntegrantes{
            font-size: 85px;
        }
    }
    .seccionIntegrantes{
        height: 525px;
        gap: 50px;
        font-size: 17px;
        line-height: 60px;
        .titulosSeccionIntegrantes{
            font-size: 28px;
        }
    }
    .seccionMarceloCorvalan{
        #marceloCorvalanTexto{
            width: 405px;
        }
        #marceloCorvalanFoto{
            width: 400px;
        }
    }
    .seccionAndresVillanova{
        #andresVillanovaTexto{
            width: 405px;   
        }
        #andresVillanovaFoto{
            width: 400px;
        }

    }
    .seccionHernanLanger{
        padding-bottom: 20px;
        #hernanLangerFoto{
            width: 400px;
        }
        #hernanLangerTexto{
            width: 405px;
        }
    }
}
@media only screen and (max-width:900px){
    #seccionTituloIntegrantes{
        #tituloIntegrantes{
            text-align: center;
            padding-top: 30px;
        }
    }
    .seccionIntegrantes{
        height: 975px;
        gap: 0;
        font-size: 18px;
        line-height: 55px;
        .titulosSeccionIntegrantes{
            font-size: 30px;
        }
    }
    .seccionMarceloCorvalan{
        flex-direction: column;
        #marceloCorvalanTexto{
            width: 637px;
        }
        #marceloCorvalanFoto{
            width: 637px;
            height: 637px;
            box-shadow: 0 6px 15px;
        }
    }
    .seccionAndresVillanova{
        flex-direction: column;
        #andresVillanovaTexto{
            width: 637px;   
        }
        #andresVillanovaFoto{
            width: 637px;
            height: 637px;
            box-shadow: 0 6px 15px;
        }
        
    }
    .seccionHernanLanger{
        height: 1000px;
        flex-direction: column;
        padding-bottom: 20px;
        #hernanLangerTexto{
            width: 637px;
        }
        #hernanLangerFoto{
            width: 637px;
            height: 637px;
            box-shadow: 0 6px 15px;
        }
    }
}
@media only screen and (max-width:768px){
    #seccionTituloIntegrantes{
        #tituloIntegrantes{
            padding-top: 35px;
            font-size: 73.5px;
            text-align: center;
            padding-bottom: 4px;
            margin-bottom: 0;
        }
    }
    .seccionIntegrantes{
        height: 925px;
        gap: 0;
        line-height: 55px;
    }
    .seccionMarceloCorvalan{
        flex-direction: column;
        #marceloCorvalanTexto{
            width: 546px;
        }
        #marceloCorvalanFoto{
            width: 546px;
            height: 546px;
            box-shadow: 0 6px 15px;
        }
    }
    .seccionAndresVillanova{
        flex-direction: column;
        #andresVillanovaTexto{
            width: 546px;   
        }
        #andresVillanovaFoto{
            width: 546px;
            height: 546px;
            box-shadow: 0 6px 15px;
        }
        
    }
    .seccionHernanLanger{
        flex-direction: column;
        padding-bottom: 20px;
        #hernanLangerTexto{
            width: 546px;
        }
        #hernanLangerFoto{
            width:546px;
            height: 546px;
            box-shadow: 0 6px 15px;
        }
    }
}
@media only screen and (max-width:600px){
    #seccionTituloIntegrantes{
        #tituloIntegrantes{
            font-size: 62px;
            text-align: center;
        }
    }
    .seccionIntegrantes{
        height: 775px;
        gap: 0;
        font-size: 17px;
        line-height: 55px;
        .titulosSeccionIntegrantes{
            font-size: 28px;
        }
    }
    .seccionMarceloCorvalan{
        flex-direction: column;
        #marceloCorvalanTexto{
            width: 460px;
        }
        #marceloCorvalanFoto{
            width: 460px;
            height: 400px;
            box-shadow: 0 6px 15px;
        }
    }
    .seccionAndresVillanova{
        flex-direction: column;
        #andresVillanovaTexto{
            width: 460px;   
        }
        #andresVillanovaFoto{
            width: 460px;
            height: 400px;
            box-shadow: 0 6px 15px;
        }
        
    }
    .seccionHernanLanger{
        height: 850px;
        flex-direction: column;
        padding-bottom: 20px;
        #hernanLangerTexto{
            width: 460px;
        }
        #hernanLangerFoto{
            width:460px;
            height: 400px;
            box-shadow: 0 6px 15px;
        }
    }
}
@media only screen and (max-width:480px){
    #seccionTituloIntegrantes{
        #tituloIntegrantes{
            font-size: 51px;
            text-align: center;
            padding-top: 25px;
        }
    }
    .seccionIntegrantes{
        height: 800px;
        gap: 0;
        font-size: 16px;
        .titulosSeccionIntegrantes{
            font-size: 25px;
        }
    }
    .seccionMarceloCorvalan{
        flex-direction: column;
        #marceloCorvalanTexto{
            width: 380px;
        }
        #marceloCorvalanFoto{
            width: 380px;
            height: 380px;
            box-shadow: 0 6px 15px;
        }
    }
    .seccionAndresVillanova{
        flex-direction: column;
        #andresVillanovaTexto{
            width: 380px;   
        }
        #andresVillanovaFoto{
            width: 380px;
            height: 380px;
            box-shadow: 0 6px 15px;
        }
        
    }
    .seccionHernanLanger{
        flex-direction: column;
        padding-bottom: 20px;
        height: 825px;
        #hernanLangerTexto{
            width: 380px;
        }
        #hernanLangerFoto{
            width:380px;
            height: 380px;
            box-shadow: 0 6px 15px;
        }
    }
}
@media only screen and (max-width:400px){
    #seccionTituloIntegrantes{
        #tituloIntegrantes{
            font-size: 41px;
            text-align: center;
            padding-top:20px;
        }
    }
    .seccionIntegrantes{
        height: 825px;
        gap: 0;
        font-size: 16px;
        .titulosSeccionIntegrantes{
            font-size: 22px;
        }
    }
    .seccionMarceloCorvalan{
        flex-direction: column;
        #marceloCorvalanTexto{
            width: 310px;
        }
        #marceloCorvalanFoto{
            width: 310px;
            height: 310px;
            box-shadow: 0 3px 7.5px;
        }
    }
    .seccionAndresVillanova{
        flex-direction: column;
        #andresVillanovaTexto{
            width: 310px;   
        }
        #andresVillanovaFoto{
            width: 310px;
            height: 310px;
            box-shadow: 0 3px 7.5px;
        }
        
    }
    .seccionHernanLanger{
        flex-direction: column;
        padding-bottom: 20px;
        height: 850px;
        #hernanLangerTexto{
            width: 310px;
        }
        #hernanLangerFoto{
            width:310px;
            height: 310px;
            box-shadow: 0 3px 7.5px;
        }
    }
}